body {
    margin: 0;
    padding: 0;
}

.container1 {background-color: #1f2937;}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    margin-bottom: 0px;
}


ul {
    display: flex;
    gap: 16px; 
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 18px;
}

.box1 h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 500px;

}

p {
    color: #efe7eb;
    font-size: 16px;
}

.img1 {
    width: 500px;  
    height: 250px;
    display: flex;
    align-items: center;
}

.left {
    width: 500px;
    padding: 16px;
    justify-content: space-around;
}

.right {
 
}

.button1 {
    display: flex;
    background-color: #3882F6;
     color: white;
}